@import "tailwindcss";

body {
  margin: 0;

  background-color: #0d0d1a;
  
}

.section-heading{
  font-size: 4rem;  
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 50px
}

#about{
  color: aliceblue ;
  align-items: center;
}

#contact{
  color: aliceblue ;
}

#experience{
  color: aliceblue ;
}

#project{
  color: aliceblue ;
}

#skills{
  color: aliceblue ;
}