html {
    scroll-behavior: smooth;
}

ul{
    
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin:0;
    background-color: #333333;
    height: 70px;
}
#navBar {
    top: 0;
    position: sticky;
}
ul li{
    float: right;
}
ul li a{
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;

}

ul li a:hover {
  background-color: #111111;
}

